[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GenVisR"]
	path = GenVisR
	url = https://github.com/griffithlab/genvisr
	shallow = true
	registered = true
